.login-container {
    display: flex;
    flex-direction: column;
    padding: 16;
    background-color: #F5F5F5,
}

.login-text-header {
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-text-sub-header {
    display: block;
    text-align: center;
}

.m-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
  }