.login-container {
  display: flex;
  flex-direction: column;
  padding: 16;
  background-color: #f5f5f5;
}

.login-text-header {
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-text-sub-header {
  display: block;
  text-align: center;
}

.m-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.body-container {
  background-color: rgb(155, 161, 161);
  padding: 3%;
}

.container {
  background-image: linear-gradient(to right, #7f3dff, #b597f0);
  border-radius: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  margin: 0.5rem 0.5rem 0.5rem 0.2rem;
  border-radius: 10px;
}
.header-title-text {
  margin: 1rem 0.5rem 0.5rem 0.2rem;
  font-weight: 900;
}

.header-title {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
}
