body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.fx {
  display: flex;
}
.fx-jc-sb {
  justify-content: space-between;
}

.fx-g-20 {
  gap: 20px;
}

.fx-g-4 {
  gap: 4px;
}

.m-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-l-8 {
  margin-left: 8px;
}

.center-abs {
  position: absolute;
  top: 45%;
  left: 45%;
  right: 0;
  bottom: 0;
  text-align: center;
}
